[user]
    name = Fabio Perez

[diff]
    tool = meld
    colorMoved = default

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
    conflictstyle = diff3

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[core]
    pager = delta

[color]
    ui = true

[delta]
    navigate = true

[interactive]
    diffFilter = delta --color-only
